
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span data-translate="导航栏"></span> </li>
        <li>
            <a md-button aria-label="menu" href="#!/dashboard">
                <i class="fa fa-dashboard"></i><span data-translate="风险监控台"></span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/product/list/local/sichuan">
                <i class="fa fa-flag"></i><span data-translate="本地采购商品"></span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/product/list/quanguo">
                <i class="fa fa-cubes"></i><span><span data-translate="全国采购商品"></span></span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/complaints">
                <i class="fa fa-comments-o"></i><span><span data-translate="投诉处理"></span></span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/analysis">
                <i class="fa fa-bar-chart"></i><span><span data-translate="统计分析"></span></span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/api-support">
                <i class="fa fa-puzzle-piece"></i><span><span data-translate="接口服务"></span></span>
            </a>
        </li>

        <li class="nav-divider"></li>
        <!-- <li class="nav-title"><span data-translate="FEATURES"></span></li> -->

        <li>
            <a md-button aria-label="menu" href="#!/ui">
                <i class="fa fa-cog"></i><span><span data-translate="设置"></span></span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/ui">
                <i class="fa fa-sign-out"></i><span><span data-translate="注销"></span></span>
            </a>
        </li>
        <li>
            <a md-button aria-label="menu" href="#!/ui">
                <i class="fa fa-question-circle"></i><span><span data-translate="帮助"></span></span>
            </a>
        </li>
    </ul>
</div>
