.page-product-details {
    .price-list  {
        display: block;
        height: 200px;
        max-width: 200px;
        width: 100%;
        overflow: auto;
        margin: 0px;
        padding: 0px;
        border: 1px solid #eee;

        li {
            list-style: none;
            display: block;
            padding: 10px;
            margin: 0px;
            cursor: pointer;

            &:hover {
                background-color: #eee;
            }
        }
    }
}

.page-dashboard {

    .panel-heading {
        font-size: 16px;
        font-weight: 600;

    }
}

@media (min-width: 768px) {
    .dl-horizontal dd {
        margin-left: 120px;
    }

    .dl-horizontal dt {
        width: 100px;
    }
}

.epi.fa-long-arrow-up {
    color: $brand-danger;
}

.epi.fa-long-arrow-down {
    color: $brand-success;
}
