<div class="page page-product-details" data-ng-controller="detailsController">

    <h2 class="section-header">{{productProps.name}}</h2>
<!--
    <div class="panel panel-default">
        <div class="panel-body">
 -->
            <div class="divider divider-lg"></div>
            <div class="row">
                <div class="col-sm-4">

                    <div class="panel mini-box bg-info">
                        <!-- <div class="card"> -->
                            <div class="text-center" style="padding: 2.1em 1em;">
                                <h2 class="card-title">中电指数EPI</h2>
                                <p>2017-01-22 至 2017-03-14</p>
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel mini-box text-center">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                            <span class="size-h2">
                                <i class="material-icons">trending_up</i>
                            </span>
                        </span>
                        <div class="text-center">
                            <h2>{{zhishu}}</h2>
                            <small>指数价</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel mini-box text-center">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-warning">
                            <span class="size-h2">
                                <i ng-if="ecOffset>0" class="material-icons">vertical_align_top</i>
                                <i ng-if="ecOffset==0" class="material-icons">vertical_align_center</i>
                                <i ng-if="ecOffset<0" class="material-icons">vertical_align_bottom</i>
                            </span>
                        </span>
                        <div class="text-center">
                            <h2>{{ecOffset}}</h2>
                            <small>电商平均价</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel mini-box text-center">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-primary">
                            <span class="size-h2">
                                <i ng-if="marketOffset>0" class="material-icons">vertical_align_top</i>
                                <i ng-if="marketOffset==0" class="material-icons">vertical_align_center</i>
                                <i ng-if="marketOffset<0" class="material-icons">vertical_align_bottom</i>
                            </span>
                        </span>
                        <div class="text-center">
                            <h2>{{marketOffset}}</h2>
                            <small>市场平均价</small>
                        </div>
                    </div>
                </div>
                <div class="col-sm-2">
                    <div class="panel mini-box text-center">
                        <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                            <span class="size-h2">
                                <i ng-if="govOffset>0" class="material-icons">vertical_align_top</i>
                                <i ng-if="govOffset==0" class="material-icons">vertical_align_center</i>
                                <i ng-if="govOffset<0" class="material-icons">vertical_align_bottom</i>
                            </span>
                        </span>
                        <div class="text-center">
                            <h2>{{govOffset}}</h2>
                            <small>政采平均价</small>
                        </div>
                    </div>
                </div>
            </div>
        <!-- </div>
    </div> -->

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="divider divider-lg"></div>
            <div class="row">
                <div class="col-sm-4">
                    <!-- <div class="panel panel-default no-margin"> -->
                    <div class="card card-default bg-white">
                        <div class="card-image">
                            <img  ng-src="{{productImg}}">
                        </div>
                    </div>
                </div>

                <div class="col-sm-4">

                    <div class="panel panel-default no-margin">
                        <ul class="list-group">
                            <li class="list-group-item">
                                指数畅销价
                                <span class="badge badge-danger">￥{{zhishu}}</span>
                            </li>
                            <li class="list-group-item">
                                实体市场价
                                <span class="badge badge-info">￥{{productProps.market_productPrice}}</span>
                            </li>
                            <li class="list-group-item" ng-click="showOtherPrice = 'ec'">
                                电商平均价
                                <span class="badge badge-info">￥{{avergeEc}}</span>
                                <md-button class="md-icon-button btn-xs" aria-label="headphones"><i class="material-icons">keyboard_arrow_right</i></md-button>
                            </li>
                            <li class="list-group-item" ng-click="showOtherPrice = 'gov'">
                                政采平均价
                                <span class="badge badge-info">￥{{avergeGov}}</span>
                                <md-button class="md-icon-button btn-xs" aria-label="headphones"><i class="material-icons">keyboard_arrow_right</i></md-button>
                            </li>
                        </ul>
                    </div>

                    <div class="panel panel-default no-margin">
                        <md-subheader class="md-no-sticky"> 增值服务</md-subheader>
                        <ul class="list-group">
                            <li class="list-group-item">
                                售后服务
                                <span class="badge">￥ 200</span>
                            </li>
                        </ul>
                    </div>

                    <!--
                    <dl class="dl-horizontal">
                        <dt>指数畅销价</dt><dd>{{zhishu}}</dd>
                        <dt>实体市场价</dt><dd>{{productProps.market_productPrice}}</dd>
                        <dt>电商平均价</dt><dd>{{avergeEc}}</dd>
                        <dt>政采平均价</dt><dd>{{avergeGov}}</dd>
                        <dt>增值服务</dt><dd>{{  }}</dd>
                    </dl>
                    -->
                </div>
                <div class="col-sm-4">

                    <div class="panel panel-default no-margin" ng-show="showOtherPrice=='ec'">
                        <md-subheader class="md-no-sticky">电商单品价格</md-subheader>
                        <md-list class="ui-material-list">
                            <md-list-item ng-click="navigateTo(ec, $event)" ng-repeat="ec in ecList">
                                <!-- <md-icon class="material-icons">{{ec.icon}}</md-icon> -->
                                <p> {{ ec.ecName }} </p>
                                <span class="badge badge-warning">{{ec.price}}</span>
                            </md-list-item>
                        </md-list>
                    </div>

                    <div class="panel panel-default no-margin" ng-show="showOtherPrice=='gov'">
                        <md-subheader class="md-no-sticky">全国政采单品价格</md-subheader>
                        <md-list class="ui-material-list" style="height: 240px; overflow: auto; ">
                            <md-list-item ng-click="navigateTo(gov, $event)" ng-repeat="gov in govList">
                                <!-- <md-icon class="material-icons">{{gov.icon}}</md-icon> -->
                                <p> {{ gov.govName }} </p>
                                <span class="badge badge-warning">{{gov.price}}</span>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>

            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="中标信息">
                        <md-content class="md-padding">
                            <div class="media-list media-divider-inset">
                                <div class="media" ng-repeat="bid in productBid">
                                    <div class="media-body">
                                        <h4 class="media-heading"><a ng-href="{{bid.H}}">{{bid.C}}</a></h4>
                                        <p><small>{{bid.D}}</small></p>
                                        <p>
                                            <span class="label label-default">{{bid.G}}</span>
                                            <span class="label label-default">{{bid.F}}</span>
                                        </p>
                                        <p><small style="color: #ccc;">{{bid.E}}</small></p>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="商品参数">
                        <md-content class="md-padding">
                            <h3 class="md-display-1">商品参数</h3>
                            <md-table-container>
                                <table md-table class="table table-striped" md-row-select="options.rowSelection"  md-progress="promise">
                                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                                        <tr md-row>
                                            <th md-column width="200"><span>参数名</span></th>
                                            <th md-column><span>内容</span></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="dessert in productDetails">
                                            <td md-cell>{{dessert.B}}</td>
                                            <td md-cell>
                                                {{dessert.C}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </md-content>
                    </md-tab>
                    <md-tab label="商品详情">
                        <md-content class="md-padding">
                            <h3 class="md-display-1">此商品暂无详情.</h3>
                            <p></p>
                        </md-content>
                    </md-tab>
                </md-tabs>
            </md-content>

        </div>
    </div>
</div>
