<div class="page page-product-details" data-ng-controller="detailsController">

    <!-- <div class="divider divider-lg"></div> -->

    <div layout="row" class="header-epi md-padding">
        <div flex="40" class="text-center bg-info">
            <h2 class="card-title">中电指数EPI</h2>
            <p>{{ currentDate }}</p>
        </div>
        <div flex="10" class="text-center">
            <span class="btn-icon btn-icon-round btn-icon-lg-alt bg-info">
                <span class="size-h4">85.64</span>
            </span>
            <div class="text-center">
                <small>指数</small>
            </div>
        </div>

        <div flex></div>

        <div flex="10" class="text-center">
            <span ng-if="marketOffset>0" class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                <span class="size-h4">{{ (marketOffset*100).toFixed(2) }}%</span>
            </span>
            <span ng-if="marketOffset<=0" class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                <span class="size-h4">{{ (marketOffset*100).toFixed(2) }}%</span>
            </span>
            <div class="text-center">
                <small>市场</small>
                <i ng-if="marketOffset>0" class="fa epi fa-long-arrow-up"></i>
                <i ng-if="marketOffset<=0" class="fa epi fa-long-arrow-down"></i>
            </div>
        </div>
        <div flex="10" class="text-center">
            <span ng-if="ecOffset>0" class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                <span class="size-h4">{{ (ecOffset*100).toFixed(2) }}%</span>
            </span>
            <span ng-if="ecOffset<=0" class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                <span class="size-h4">{{ (ecOffset*100).toFixed(2) }}%</span>
            </span>
            <div class="text-center">
                <small>电商</small>
                <i ng-if="ecOffset>0" class="fa epi fa-long-arrow-up"></i>
                <i ng-if="ecOffset<=0" class="fa epi fa-long-arrow-down"></i>
            </div>
        </div>
        <div flex="10" class="text-center">
            <span ng-if="govOffset>0" class="btn-icon btn-icon-round btn-icon-lg-alt bg-danger">
                <span class="size-h4">{{ (govOffset*100).toFixed(2) }}%</span>
            </span>
            <span ng-if="govOffset<=0" class="btn-icon btn-icon-round btn-icon-lg-alt bg-success">
                <span class="size-h4">{{ (govOffset*100).toFixed(2) }}%</span>
            </span>
            <div class="text-center">
                <small>政采</small>
                <i ng-if="govOffset>0" class="fa epi fa-long-arrow-up"></i>
                <i ng-if="govOffset<=0" class="fa epi fa-long-arrow-down"></i>
            </div>
        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-body">

            <div class="divider divider-lg"></div>
            <h4>{{productProps.name}}</h4>
            <div class="divider divider-lg"></div>

            <div class="divider bg-info"></div>

            <div class="row">
                <div class="col-sm-4">
                    <!-- <div class="panel panel-default no-margin"> -->
                    <div class="card card-default bg-white" style="box-shadow: none;">
                        <div class="card-image text-center">
                            <img ng-src="{{productImg}}"  style="max-height: 340px; width:auto; max-width: 100%; ">
                        </div>
                    </div>
                </div>
                <div class="col-sm-4">

                    <!-- Start 本地商品信息 -->
                    <div ng-if="LOCAL" class="panel panel-default" style="margin-bottom: 10px !important;">
                        <md-subheader class="md-no-sticky no-margin">
                            <div class="list-group-item no-padding" style="border:0px; margin:0; background: none;">
                                <b>四川政采价格</b>
                                <span class="badge" ng-class="{'badge-danger': localOffset>0, 'badge-success': localOffset<=0}">
                                    <i ng-if="localOffset>0" class="fa fa-arrow-up epi"></i>
                                    <i ng-if="localOffset<=0" class="fa fa-arrow-down epi"></i>
                                    {{ (localOffset*100).toFixed(0) }}%
                                </span>
                                <span class="badge badge-info">
                                    ￥{{productProps.gov_sichuan_productPrice}}
                                </span>
                            </div>
                        </md-subheader>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span style="display: inline-block; width: 2em;"></span>指数评估价
                                <span class="badge badge-info">￥{{getZspgj(productProps)}}</span>
                            </li>
                        </ul>
                    </div>
                    <!-- End 本地商品信息 -->

                    <div class="panel panel-default no-margin">
                        <md-subheader class="md-no-sticky no-margin">
                            <div class="list-group-item no-padding" style="border:0px; margin:0; background: none;">
                                <b>指数畅销价</b>
                                <span class="badge badge-info">￥{{zhishu}}</span>
                            </div>
                        </md-subheader>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span style="display: inline-block; width: 2em;"></span>实体市场价
                                <span class="badge badge-info">￥{{productProps.market_productPrice}}</span>
                            </li>
                            <li class="list-group-item" ng-click="showOtherPrice = 'ec'">
                                <span style="display: inline-block; width: 2em;"></span>电商平均价
                                <span class="badge badge-info">￥{{avergeEc}}</span>
                                <md-button class="md-icon-button btn-xs" aria-label="headphones"><i class="material-icons">keyboard_arrow_right</i></md-button>
                            </li>
                            <li class="list-group-item" ng-click="showOtherPrice = 'gov'">
                                <span style="display: inline-block; width: 2em;"></span>政采平均价
                                <span class="badge badge-info">￥{{avergeGov}}</span>
                                <md-button class="md-icon-button btn-xs" aria-label="headphones"><i class="material-icons">keyboard_arrow_right</i></md-button>
                            </li>
                        </ul>
                    </div>
                    <div class="panel panel-default no-margin">
                        <md-subheader class="md-no-sticky"> <b>增值服务</b></md-subheader>
                        <ul class="list-group">
                            <li class="list-group-item">
                                <span style="display: inline-block; width: 2em;"></span>售后服务
                                <span class="badge">￥ 200</span>
                            </li>
                        </ul>
                    </div>
                    <!--
                    <dl class="dl-horizontal">
                        <dt>指数畅销价</dt><dd>{{zhishu}}</dd>
                        <dt>实体市场价</dt><dd>{{productProps.market_productPrice}}</dd>
                        <dt>电商平均价</dt><dd>{{avergeEc}}</dd>
                        <dt>政采平均价</dt><dd>{{avergeGov}}</dd>
                        <dt>增值服务</dt><dd>{{  }}</dd>
                    </dl>
                    -->
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-default no-margin" ng-show="showOtherPrice=='ec'">
                        <md-subheader class="md-no-sticky">电商单品价格</md-subheader>
                        <md-list class="ui-material-list" style="height: 300px; overflow: auto; ">
                            <md-list-item ng-click="navigateTo(ec, $event)" ng-repeat="ec in ecList">
                                <!-- <md-icon class="material-icons">{{ec.icon}}</md-icon> -->
                                <p> {{ ec.ecName }} </p>
                                <span class="badge badge-info">￥{{ec.price}}</span>

                                <md-button ng-click="showScreen(ec)" class="btn-w-xs md-accent"><i class="fa fa-image"></i>截图</md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                    <div class="panel panel-default no-margin" ng-show="showOtherPrice=='gov'">
                        <md-subheader class="md-no-sticky">全国政采单品价格</md-subheader>
                        <md-list class="ui-material-list" style="height: 300px; overflow: auto; ">
                            <md-list-item ng-click="navigateTo(gov, $event)" ng-repeat="gov in govList">
                                <!-- <md-icon class="material-icons">{{gov.icon}}</md-icon> -->
                                <p> {{ gov.govName }} <span class="badge badge-info">￥{{gov.price}}</span></p>

                                <md-button ng-click="showScreen(gov)" class="btn-w-xs md-accent"><i class="fa fa-image"></i>截图</md-button>
                            </md-list-item>
                        </md-list>
                    </div>
                </div>
            </div>

            <div class="divider bg-info divider-lg"></div>

            <md-content>
                <md-tabs md-dynamic-height md-border-bottom>
                    <md-tab label="中标信息">
                        <md-content class="md-padding">

                            <div class="divider divider-lg"></div>

                            <div class="media-list media-divider-inset">
                                <div class="media" ng-repeat="bid in productBid">
                                    <div class="media-body">
                                        <h5 class="media-heading" style="max-width: 90%; width: 400px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;" title="{{bid.C}}"><a ng-href="{{bid.H}}" target="_blank">{{bid.C}}</a></h5>
                                        <p style="max-width: 600px;"><small>{{bid.D}}</small></p>

                                        <p>
                                            <small style="color: #ccc;">{{bid.E}} </small>
                                            <small style="color: #ccc;">采购人：{{bid.E}} |</small>
                                            <small style="color: #ccc;">代理机构：{{bid.G}}</small>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </md-content>
                    </md-tab>
                    <md-tab label="商品参数">
                        <md-content class="md-padding">
                            <md-table-container>
                                <table md-table class="table table-striped" md-row-select="options.rowSelection" md-progress="promise">
                                    <thead ng-if="!options.decapitate" md-head md-order="query.order" md-on-reorder="logOrder">
                                        <tr md-row>
                                            <th md-column width="200"><span>参数名</span></th>
                                            <th md-column><span>内容</span></th>
                                        </tr>
                                    </thead>
                                    <tbody md-body>
                                        <tr md-row ng-repeat="dessert in productDetails">
                                            <td md-cell>{{dessert.B}}</td>
                                            <td md-cell>
                                                {{dessert.C}}
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </md-table-container>
                        </md-content>
                    </md-tab>
                    <!-- <md-tab label="商品详情">
                        <md-content class="md-padding">
                            <p>此商品暂无详情.</p>
                        </md-content>
                    </md-tab> -->
                </md-tabs>
            </md-content>
        </div>
    </div>
</div>
