<div class="page page-dashboard" data-ng-controller="DashboardCtrl">


    <div class="callout callout-danger">
        <h4><i class="fa fa-exclamation-triangle"></i>预警</h4>
        <div>
            系统监测到当前有 <b>{{overtop_50.length}}款</b> 产品的<b>本地采购价</b>高于<b>指数价格</b> <span class="badge badge-danger">50%</span> 请您即时跟进处理。
            <md-button class="md-raised md-primary"  ng-click="showWarningProducts($event)">查看...</md-button>
        </div>
    </div>

    <!--
    <div class="callout callout-warning">
        <h4><i class="fa fa-info-circle"></i>注意</h4>
        <div>
            系统检测到当前有200款产品的<b>本地采购价</b>高于<b>指数价格</b> <span class="badge badge-warnning">25%</span> 请您保持关注。
            <md-button class="md-primary">查看...</md-button>
        </div>
    </div>
    -->

    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default panel-minimal">
                <div class="row">
                    <div class="col-md-8">
                        <div class="divider divider-md"></div>
                        <div class="panel-heading">本地采购商品价格监测</div>
                        <div class="panel-body">
                            <div data-echarts data-options="pie1.options" data-events="pie1.events" style="height: 400px;"></div>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="divider divider-md"></div>
                        <div class="panel-heading"><b>{{pie2.title}}</b> 的商品</div>
                        <div class="panel-body">
                            <div data-echarts data-options="pie2.options" data-events="pie2.events" style="height: 350px;"></div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row ">
        <div class="col-md-12">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-lg"></div>
                <div class="panel-heading">采购价格严重高于指数价的商品</div>
                <div class="divider divider-lg"></div>
                <div class="panel-body padding-lg-h">
                    <div class="row">

                        <div ng-repeat="prod in warningProducts50" class="col-sm-6 col-md-3 col-lg-2">

                            <div class="ih-item ih-material ui-ribbon-container ui-ribbon-danger">
                                <div class="ui-ribbon-wrapper">
                                    <div class="ui-ribbon">
                                        高于 {{ (prod.offset*100).toFixed(2) }}%
                                    </div>
                                </div>
                                <a ng-href="#!/product/details/{{prod.id}}">
                                    <div class="img">
                                        <img ng-src="{{prod.img}}" alt="">
                                    </div>
                                    <div class="info">
                                        <div class="info-mask bg-dark"></div>
                                        <div class="info-content">
                                            <div class="info-inner">
                                                <h3>高于指数价格 <span class="badge badge-danger">{{prod.offset}}%</span></h3>
                                                <p>{{ prod.name }}</p>
                                                <md-button md-no-ink class="md-primary md-raised">详情...</md-button>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-minimal">
                <div class="divider divider-md"></div>
                <div class="panel-heading">本地采购商品价格概览</div>
                <div class="panel-body">
                    <div data-echarts data-options="combo.options" style="height: 400px;"></div>
                    <div class="divider divider-lg"></div>
                </div>
            </div>
        </div>
    </div>

</div>

