@media print {
   .no-print{
        display:none;
    }
}

.titlebar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999999999;
    background-color: transparent;

    .titlebar-close, .titlebar-minimize, .titlebar-fullscreen {
        width: 12px;
        height: 12px;
    }
}

// Mac, osx 最小化、最大化、关闭按钮靠左显示
.is-macos, .is-osx, .is-linux {
    .titlebar-stoplight,
    .titlebar-close, .titlebar-minimize, .titlebar-fullscreen{
        float: left;
    }
}

// Mac, osx 最小化、最大化、关闭按钮靠左显示
.is-windows {
    .titlebar-stoplight,
    .titlebar-close, .titlebar-minimize, .titlebar-fullscreen{
        float: right;
    }
}


.md-select-menu-container {
    z-index:9999;
}


#nav-container ul {
    background-color:#ececec;
}
.nav-container.bg-white .nav>li>a:hover{
    background-color: rgba(0,0,0,0.1);
}
.nav-container.bg-white .nav>li.active>a:hover,
.nav-container.bg-white .nav>li.active>a:focus,
.nav-container.bg-white .nav>li.active>a {
    color: #fff !important;
    background-color: #0B5477;
}
